<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
    <h1>Todo #<%= todo.id %></h1>
    <form action="/todos/<%= todo.id %>?_method=PUT" method="POST" autocomplete="off">
      <input type="text" name="todo" value="<%= todo.todo %>"><br>
      <!-- to be fixed -->
      <input type="checkbox" id="doneCheck" name="done" value="true" <% if(todo.done) { %> checked <% }; %> >   
      <label for="done">Done</label><br>
      <!-- -- -->
      <button type="submit">Save Todo</button>
    </form>

  </body>
</html>
